<div class="courses-panel">

  <h3>All Courses</h3>

  <mat-tab-group>

    <mat-tab label="Beginners">

      <!-- Use async pipe to pass observable to other components
           The async pipe will simulate the subscribe() trigger so no
           need to have subscribes() on components
      -->
      <courses-card-list [courses]="beginnerCourses$ | async">
      </courses-card-list>

    </mat-tab>

    <mat-tab label="Advanced">

      <courses-card-list [courses]="advancedCourses$ | async"></courses-card-list>

    </mat-tab>

  </mat-tab-group>



</div>
